@import "slick-less";
@import "bootstrap";

@light: 300;
@regular: 400;
@500: 500;
@600: 600;
@bold: 700;
@800: 800;
@black: 900;



.b_a() {
  content: '';
  position: absolute;
}
.m_a() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex() {
  display: flex;
  display: -webkit-flex;
}
.j-center() {
  justify-content: center;
  -webkit-justify-content: center;
}
.j-beetween() {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.j-space-around() {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.j-end() {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.j-start() {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.ai-center() {
  align-items: center;
  -webkit-align-items: center;
}
.ai-start() {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.ai-end() {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.as-center() {
  align-self: center;
  -webkit-align-self: center;
}
.as-end() {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}
.as-start() {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}
.wrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col() {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@box-shadow) {
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
  box-shadow: @box-shadow;
}

.transform(@transform) {
  transform: @transform;
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
}

.transition(@transition_default) {
  transition: @transition_default;
  -webkit-transition: @transition_default;
  -moz-transition: @transition_default;
  -o-transition: @transition_default;
}

@transition_default: .3s linear;


@font-face {
  font-family: "Futura Normal";
  src: url("../fonts/6563.eot");
  src: url("../fonts/6563.eot?#iefix")format("embedded-opentype"),
  url("../fonts/6563.woff") format("woff"),
  url("../fonts/6563.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@Futura_Normal:'Futura Normal';

@red:#be1313;
.container{
  max-width: 1200px;
}


*{
  outline: none;
}

a{
  .transition(@transition_default);
}


button, input, .form-control{
  outline: none;
}

button{
  cursor: pointer;
  &:hover, &:focus{
    .box-shadow(none);
    outline: none;
  }
}


ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}

section{
  padding-top: 1px;
}


img, video{
  max-width: 100%;
}


body{
  font-family: @Futura_Normal;
  font-size: 16px;
  color: #262626;
}
@black:#262626;

.header_row{
  .flex();
  .ai-center();

  @media (max-width:575px){
      .wrap();
    padding: 10px 0 0;
  }


  .logo{
    padding-right: 10px;
    @media (min-width:1200px){
      min-width: 197px;
    }
  }

  > div{
    .ai-center();
    .flex();
      min-height: 60px;
    @media (max-width:1200px){
      width: 20%;
    }
    @media (max-width:991px){
      width: 33.33%;
    }
    @media (max-width:575px){
      width: 100%;
      text-align: center;
      min-height:auto;
      margin-bottom: 10px;
      .j-center();
    }
  }

  .work, .feedback, .order_call{
    @media (min-width:1200px){
      width: 250px;
    }
  }


  .location{
    padding: 0 10px;
    line-height: 1.3;
    @media (min-width:1200px){
        min-width: 255px;
    }
    @media (max-width:991px){
      display: none;
    }
    span{
      display: block;
    }
  }

  .j_center{
    .j-center();
  }
  .feedback, .order_call,.work{
    position: relative;
    &:before{
      .b_a();
      width: 1px;
      height: 37px;
      background: #333;
      right: -1px;
      top: 0;
      bottom: 0;
      margin: auto;
      @media (max-width:575px){
          display: none;
      }
    }
  }

  .work{
    padding: 0 10px;
    line-height: 1.3;
    @media (max-width:991px){
      display: none;
    }
    span{
      display: block;
    }
  }



  .order_call{
    @media (min-width:576px){
      &:hover, &:focus{
        background: #303030;
        &:before{
          display: none;
        }
        .order_btn{
          color: #fff;
          text-decoration: underline;
          &:before{
            background: url(../img/callme_white_hover.svg);
            background-size: cover;
          }
        }
      }
    }

    .order_btn{
      text-transform: uppercase;
      position: relative;
      padding-left: 40px;
      font-size: 14px;
      background: none;
      border:0;
      padding-right: 0;
      line-height: 1;
      @media (max-width:767px){
        padding-left: 30px;
        font-size: 13px;
      }
      &:before{
        .b_a();
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/callme_black.svg);
        width: 23px;
        height: 23px;
        background-size: cover;
      }
    }
  }




  .feedback{
    padding: 0;
    &:before{
      right: 0;
    }
    .dropdown{
      padding: 0 10px;
      width: 100%;
      min-height: 60px;
      font-size: 14px;
      .flex();
      .ai-center();
      .j-center();
      @media (max-width:575px){
        min-height: 30px;
      }
      &.show{
        background-color: rgb(235, 235, 235);
        .box-shadow(0 5px 21px 0px rgba(0, 0, 0, 0.19));
        .dropdown_toggle{
          &:before{
            .transform(rotate(180deg));
          }
        }
      }


      .dropdown-menu{
        width: 100%;
        top: 100%;
        border:0;
        .border-radius(10px);
        background-color: rgb(235, 235, 235);
        @media (min-width:576px){
          .transform(translate3d(0, 43px, 0px)) !important;
        }
        @media (max-width:575px){
          .transform(translate3d(0, 30px, 0px)) !important;
          margin-top: 0;
        }



        ul{
          margin-bottom: 18px;
          @media (min-width:768px){
            min-width: 155px;
          }
          li{
            a{
              display: inline-block;
              position: relative;
              color: @black;
              &.phone{
              }
              &.email{
                margin-top: 15px;
                margin-bottom: 15px;
              }
              &.instagram{
                padding-left: 25px;
                text-decoration: underline;
                &:before{
                  .b_a();
                  left: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  background: url(../img/instagram_black.svg);
                  width: 19px;
                  height: 19px;
                  background-size: cover;
                }
              }
            }
          }
        }
      }

      .dropdown_toggle{
        background: none;
        border:0;
        position: relative;
        text-transform: uppercase;
        padding-right: 30px;
        cursor: pointer;
        @media (max-width:767px){
          padding-right: 20px;
          font-size: 13px;
        }
        &:hover, &:focus{
          .box-shadow(none);
          outline: none;
        }
        &:before{
          .b_a();
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background: url(../img/down.png);
          width: 12px;
          height: 6px;
        }
      }

    }
  }

}




.main_nav{
    background-image: -moz-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);

  .nav_flex{
    .flex();
    .ai-center();



    .mm_btn{
      height: 22px;
      margin-left: 20px;
      @media (min-width:1146px){
          display: none;
      }
      .hamburger {
        width: 30px;
        height: 22px;
        position: relative;
        background: none;
        border: 0;
        span {
          position: absolute;
          left: 0;
          height: 2px;
          width: 100%;
          background: #fff;
          .border-radius(3px);
          &:nth-child(1){
            top: 0;
          }
          &:nth-child(2){
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:nth-child(3){
            bottom: 0;
          }
        }
      }
    }

    .main_menu{
      width: calc(100% - 310px);


      .mm_info{
        color: #fff;
        > div{
          margin-bottom: 20px;
        }
        span{
          display: block;
        }
        @media (min-width:992px){
          display: none;
        }
      }

      .mm_close{
        width: 35px;
        height: 35px;
        background: #fff;
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
        &:before {
          .transform(rotate(45deg));
        }
       &:after {
          .transform(rotate(-45deg));
        }
        &:before, &:after {
          content: '';
          position: absolute;
          width: 25px;
          height: 1px;
          background: #6c757d;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }

        @media (min-width:1146px){
          display: none;
        }
      }

      @media (max-width:1145px){
        opacity: 0;
        position: fixed;
        width: 80%;
        height: 100%;
        z-index: 99991;
        right: 0;
        top: 0;
        margin-top: 0;
        padding: 10px;
        background-image: -moz-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
        overflow: auto;
        .transition(@transition_default);
        .transform(translateX(100%));


       &.open {
          .transform(translateX(0));
          opacity: 1;
        }

      }

      .nav{
        .flex();
        li{
          position: relative;
          @media (max-width:1145px){
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
          }

          &.active, &:hover{
            > a{
              .item_text{
                text-decoration: underline;
              }
            }

          }
          &.has_submenu{
            @media (min-width:1146px){
              &:hover{
                >a{
                  background: rgb(250,92,92);
                  .border-radius(10px 10px 0 0);
                }
                .sub_menu{
                  display: block;
                }
              }
            }
          }

          a{
            height: 40px;
            .flex();
            .ai-center();
            .j-center();
            .border-radius(10px);
            .box-shadow(0 0px 9.1px 0.9px rgba(0, 0, 0, 0.39));
            margin-right: 1px;
            text-decoration: none;
            padding: 5px 15px;
            @media (max-width:1200px){
              padding: 5px 10px;
            }
            @media (max-width:1145px){
              .j-start();
            }

            .icon{
                margin-right: 8px;
            }
            .item_text{
              font-size: 16px;
              text-decoration: none;
              color: #fff;
              text-transform: uppercase;

            }
          }


          .sub_menu{
            @media (max-width:1145px){
              padding-left: 15px;
              margin-top: 10px;
            }
            @media (min-width:1146px){
              position: absolute;
              top:100%;
              left: 0;
              width: 100%;
              z-index: 99;
              display: none;
              background-image: -moz-linear-gradient( 90deg, rgb(213,22,21) 0%, rgb(250,92,92) 100%);
              background-image: -webkit-linear-gradient( 90deg, rgb(213,22,21) 0%, rgb(250,92,92) 100%);
              background-image: -ms-linear-gradient( 90deg, rgb(213,22,21) 0%, rgb(250,92,92) 100%);
              .border-radius(0 0 10px 10px);
              li{
                a{
                  .j-start();
                  font-size: 12px;
                  .box-shadow(none);
                  .item_text{
                    font-size: 12px;
                  }
                }
              }
            }

          }

        }



      }
    }

    .nav_right{
      width: 310px;
      .flex();
      .ai-center();

      @media (max-width:1145px){
          width: calc(100% - 50px);
      }



      .search_block{
        width: calc(100% - 155px);
        @media (max-width:575px){
          width: calc(100% - 80px);
        }
        .search_form{
          margin-right: 4px;
          padding: 0 5px;
          .flex();
          .ai-center();
          .border-radius(10px);
          background-image: -moz-linear-gradient( 90deg, rgb(147,9,9) 0%, rgb(201,65,65) 100%);
          background-image: -webkit-linear-gradient( 90deg, rgb(147,9,9) 0%, rgb(201,65,65) 100%);
          background-image: -ms-linear-gradient( 90deg, rgb(147,9,9) 0%, rgb(201,65,65) 100%);
          .box-shadow(0 0px 9.1px 0.9px rgba(0, 0, 0, 0.39));


          .search_btn{
            background: url(../img/magnifying-glass-browser.png);
            width: 19px;
            height: 19px;
            border:0;
          }
          .form-control{
            color: #fff;
            font-size: 18px;
            background: none;
            border:0;
            height: auto;
            &:hover, &:focus{
                outline: none;
              box-shadow: none;
            }
            &::-webkit-input-placeholder{color: #fff;
              font-size: 18px;}
            &:-ms-input-placeholder{color: #fff;
              font-size: 18px;}
            &:-moz-placeholder{color: #fff;
              font-size: 18px;}
            &::-ms-input-placeholder{color: #fff;
              font-size: 18px;}
            &::-moz-placeholder{color:#fff;
              font-size: 18px;}
          }

        }
      }

      .cart_link{
        .border-radius(10px);
        .ai-center();
        .flex();
        .j-center();
        background: #fff;
        height: 40px;
        min-width: 155px;
        &:hover, &:focus{
          text-decoration: none;
          background: -moz-linear-gradient( 90deg, rgb(147,9,9) 0%, rgb(201,65,65) 100%);
          background: -webkit-linear-gradient( 90deg, rgb(147,9,9) 0%, rgb(201,65,65) 100%);
          background: -ms-linear-gradient( 90deg, rgb(147,9,9) 0%, rgb(201,65,65) 100%);
          .cart_icon{
            margin-right: 12px;
            max-width: 30px;
            .red{
              display: none;
            }
            .white{
              display: block;
            }
          }
          .cart_text{
            color: #fff;
          }
        }
        @media (max-width:575px){
          min-width: 80px;
          height: auto;
          padding: 4px;
        }
        >div{
          .ai-center();
          .flex();
        }
        .cart_icon{
          margin-right: 12px;
          max-width: 30px;
          .red{}
          .white{
            display: none;
          }
        }
        .cart_text{
          color: #d73535;
          font-size: 16px;
          text-transform: uppercase;
          span{
            &:first-child{
              @media (max-width:575px){
                display: none;
              }
            }
          }
        }
      }

    }

  }
}






.section_brands{
  background: #D1D1D1;
  padding: 60px 0;
  @media (max-width:1200px){
    padding: 40px 0 60px;
  }
  @media (max-width:767px){
    padding: 30px 0 60px;
  }
  .brands_slider{
    .item{
      height: 85px;
    }
    a{
      display: inline-block;
      height: 85px;
      width: 100%;
    }
    picture{
      display: inline-block;
      height: 85px;
      width: 100%;
      position: relative;
      img{
          position: absolute;
        .m_a();
        max-width: 99%;
        max-height: 99%;
      }
    }
  }


  .slick-dots{
    bottom: -30px;
    li{
      margin: 0 2px;
      &.slick-active{
        button{
          background: #E32424;
        }
      }
      button{
        .border-radius(5px);
        background-color: rgb(68, 68, 68);
        width: 13px;
        height: 14px;
        &:before{
          display: none;
        }
      }
    }
  }

}


.home_about{
  background: #EDEDED;
  padding: 60px 0;
  @media (max-width:1200px){
    padding: 40px 0;
  }
  @media (max-width:767px){
    padding: 30px 0;
  }
}


.title{
  font-size: 26px;
  text-transform: uppercase;
}


.btn_custom{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  border:0;
  .border-radius(10px);
  background-image: -moz-linear-gradient( 90deg, rgb(185,40,40) 0%, rgb(247,82,81) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(185,40,40) 0%, rgb(247,82,81) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(185,40,40) 0%, rgb(247,82,81) 100%);
  .box-shadow(0 2px 0 0 rgba(169, 50, 49, 0.004));
  padding: 12px 46px;
  line-height: 1;
  .transition(@transition_default);
  &:hover, &:focus{
    text-decoration: none;
    color: #fff !important;

    background-image: -moz-linear-gradient( 90deg, rgb(247,82,81), rgb(185,40,40) 0% 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(247,82,81), rgb(185,40,40) 0% 100%)!important;
    background-image: -ms-linear-gradient( 90deg, rgb(247,82,81), rgb(185,40,40) 0% 100%)!important;

  }
}



footer{
  background: #171717;
  padding: 45px 0;

  @media (max-width:767px){
    padding: 30px 0;
  }


  .logo{
    margin-bottom: 30px;
  }
  .copyright{
    font-size: 14px;
    line-height: 1.4;
  }

    p{
      color: #fff;
    }
    li{color: #fff;
      a{
        color: #fff;
        &:hover, &:focus{
          color: #b92828;
        }
      }
    }



  .f_nav{
    @media (max-width:767px){
      margin-bottom: 20px;
    }
    li{
      margin-bottom: 3px;
    }
  }

  .c_list{
    margin-bottom: 30px;
  }

  .w_list{
    @media (max-width:767px){
      margin-bottom: 20px;
    }
  }

  .l_list{
    li{
      margin-bottom: 25px;
      a{
        text-decoration: underline;
        display: inline-block;
        position: relative;
        padding-left: 40px;
        &:before{
          .b_a();
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &.order_call{
            &:before{
              background: url(../img/callme_white_hover.svg);
              width: 30px;
              height: 30px;
              background-size: cover;
            }
        }
        &.instagram{
          &:before{
            background: url(../img/instagram_white.svg);
            width: 30px;
            height: 30px;
            background-size: cover;
          }
        }
      }
    }
  }

}



.main_banner{
  min-height: 635px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 85px 0 30px 0;
  @media (max-width:1200px){
    padding: 30px 0 30px 0;
    min-height: initial;
  }
  @media (max-width:767px){
    padding: 10px 0 10px 0;
    background-attachment: fixed;
  }
  &:before{
    .b_a();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}



.choose_tires_list{
  position: relative;
  .flex();
  .wrap();
  .j-center();

  margin: auto;
  .choose_tires_block{
    padding: 0 34px;
    @media (max-width:1200px){
      padding: 20px 20px;
    }
    @media (max-width:767px){
      padding: 20px 0;
    }
    @media (max-width:767px){
      padding: 10px 0;
      width: 100%;
    }
  }
  .choose_tires_item{
    max-width: 390px;
    min-width: 280px;
    background: #ECECEC;
    .border-radius(10px);
    .box-shadow(0 0 32px 0 rgba(0, 0, 0, 0.004));
    position: relative;
    @media (min-width:1200px){
      width: 390px;
    }

    @media (max-width:767px){
      width: 100%;
      max-width: 100%;
    }

    &.act{
      z-index: 5;
      .border-radius(10px 10px 0 0);
      .choose_tires_item_head{
        .border-radius(10px 10px 0 0);
        &:before{
          .transform(rotate(180deg));
        }
      }

    }


    .choose_tires_item_head{
      padding: 5px 5px 5px 55px;
        height: 86px;
      .flex();
      .j-beetween();
      .ai-center();
      .border-radius(10px 10px 0 0);
      .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.17));
      position: relative;
      @media (min-width:768px){
        pointer-events: none;
      }
      @media (max-width:767px){
        padding: 5px 5px 5px 30px;
        &:before{
          .b_a();
          left: 24px;
          top: 0;
          bottom: 0;
          margin: auto;
          background: url(../img/close_red.png);
          width: 20px;
          height: 12px;
          background-size: cover;
          .transition(@transition_default);
          @media (max-width:767px){
            left: 6px;
          }
        }
      }

      picture{
        margin-top: 40px;
        @media (max-width:767px){
          width: 40%; margin-top: 10px;
        }
      }
      .c_title{
        color: #af2626;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        min-width: 145px;
        @media (max-width:767px){
          width: 60%;font-size: 18px;
        }

      }
    }

    .choose_tires_item_body{
      padding: 30px 55px;
      @media (max-width:767px){
        display: none;
        /*position: absolute;
        top: 100%;
        left: 0;*/
        width: 100%;
        z-index: 3;
        background: #ECECEC;
      }

      @media (max-width:767px){
        padding: 20px 15px;
      }


      .row{
        margin-right: -10px;
        margin-left: -10px;
        div[class^=col]{
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .btn_block{
        padding-top: 20px;
        @media (max-width:767px){
          padding-top: 10px;
        }
        .btn_custom{
          width: 100%;
        }
      }

      .field{
        margin-bottom: 14px;
        @media (max-width:767px){
          margin-bottom: 10px;
        }
        label{
          font-size: 17px;
          color: #424242;
          margin-bottom: 0;
          @media (max-width:767px){
            font-size: 14px;
          }
        }
        .select{
          width: 100%;
          display: inline-block;
          position: relative;
          &:before{
            .b_a();
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            background: url(../img/next.png);
            width: 10px;
            height: 6px;
            pointer-events: none;
          }
          select{
            width: 100%;
            border:0;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 27px;
            .border-radius(2px);
            background-color: rgb(248, 248, 248);
            .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
            padding-left: 10px;
            padding-right: 30px;
            font-size: 18px;
            @media (max-width:1200px){
              font-size: 16px;
            }

            option{
              padding-left: 10px;
              font-size: 18px;
              @media (max-width:1200px){
                font-size: 16px;
              }
            }
          }
        }
      }

    }

  }
}



.main_products{
  padding: 70px 0;
  @media (max-width:1200px){
    padding: 50px 0;
  }
  @media (max-width:767px){
    padding: 30px 0;
  }
}

.products_list{
  .flex();
  .wrap();
  .product_item{
    margin-bottom: 30px;
    .border-radius(5px);
    background-color: rgb(247, 247, 247);
    .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
    padding: 26px 55px 10px 10px;
    width: 100%;
    @media (min-width:1200px){
      height: 220px;
      overflow: hidden;
    }


    @media (max-width:931px){
      width: 100%;
      margin: 0 0 20px;
      padding: 15px;
    }

      .product_flex{
        .flex();
        .wrap();
        @media (max-width:930px){
          .j-center();
        }

        .col_left{
          .flex();
          .wrap();
          padding-right: 20px;
          @media (min-width:931px){
            width: calc(100% - 415px);
          }
          @media (max-width:1200px){
            margin-bottom: 20px;
            padding-right: 30px;
          }
          @media (max-width:767px){
            padding-right: 0;
          }

          .label{
            width: 45px;
            min-width: 45px;
            margin-right: 25px;
          }

          .product_img{
            margin-right: 50px;
            padding-right: 10px;
            @media (max-width:1200px){
              margin-right: 10px;
              img{
                max-width: 100px;
              }
            }
          }

        }


        .product_info{
          @media (max-width:480px){
            width: 100%;
          }
          .pr_title{
            color: #414141;
            font-size: 24px;
            text-decoration: none;
            line-height: 1.2;
            margin-bottom: 12px;
            display: inline-block;
            &:hover, &:focus{
              text-decoration: none;
              color: @red;
            }
              span{
                display: block;
                font-size: 30px;
                text-transform: uppercase;
              }
          }

          .size{
            color: #414141;
            font-size: 24px;
            margin-bottom: 18px;
          }

          .season{
            .flex();
            .ai-center();
            picture{
              width: 40px;
              min-width: 40px;
              margin-right: 10px;
            }
            .text{
              color: #464646;
              font-size: 24px;
              //font-weight: bold;
              text-transform: uppercase;
              .border-radius(6px);
              line-height: 1;
              background-color: rgb(229, 229, 229);
              padding: 5px 30px 5px 15px;
              position: relative;
              &:before{
                .b_a();
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                background: url(../img/next1.png);
                width: 6px;
                height: 10px;
              }
            }
          }


        }


        .col_right{
          @media (min-width:931px){
            min-width: 415px;
          }
          @media (max-width:1200px){
            @media (min-width:901px){
              //width: 100%;
            }
          }
          .btn_group{
            .flex();
            .wrap();
            margin-top: 20px;

            button{
              @media (max-width:480px){
                width: 100%;
                margin-bottom: 10px;
              }
            }

            .btn_custom.bg_white{
              background: none;
              .box-shadow(none);
              border:2px solid @red;
              color: @red;
              padding: 10px 46px;
              margin-right: 12px;
              @media (max-width:480px){
                margin-right: 0;
              }
            }

            .btn_custom{
              @media (min-width:1200px){
                padding: 12px 70px;
              }
              background-image: -moz-linear-gradient( 90deg, rgb(222,37,38) 0%, rgb(249,88,87) 100%);
              background-image: -webkit-linear-gradient( 90deg, rgb(222,37,38) 0%, rgb(249,88,87) 100%);
              background-image: -ms-linear-gradient( 90deg, rgb(222,37,38) 0%, rgb(249,88,87) 100%);

            }


          }

          .in_stock, .kit_cost{
            font-size: 16px;
            color: #696969;
            font-weight: bold;
            line-height: 1.2;
            span{
              color: #212121;
            }
          }

          .price_flex{
            .flex();
            .wrap();
            .price{
              font-size: 36px;
              font-weight: bold;
              .flex();
              line-height: 1;
              margin-bottom: 15px;
              span{
                font-size: 20px;
                .flex();
                .ai-start();
                padding-top: 2px;
                margin-right: 8px;
              }
            }

            .price_text{
              color: #535353;
              font-size: 14px;
              .flex();
              .ai-center();
              font-weight: bold;
              span{
                &[data-toggle="tooltip"]{
                  width: 17px;
                  height: 17px;
                  .border-radius(50%);
                  background: #DCDCDC;
                  .flex();
                  .j-center();
                  .ai-center();
                  line-height: initial;
                  margin-left: 7px;
                }
              }
            }

            .price_item{
              //@media (min-width:1200px){
                min-width: 220px;
              //}
              .price{
                color: #262626;
              }
            }
            .discount_price_item{
              .price{
                color: @red;
              }
            }
          }
        }

      }
  }
}




.page_content{
  padding-top: 18px;
  padding-bottom: 80px;
  @media (max-width:1200px){
    padding-bottom: 50px;
  }
  @media (max-width:767px){
    padding-bottom: 30px;
  }
  @media (max-width:767px){
    padding-top: 5px;
  }
}

.breadcrumb{
  background: none;
  padding-left: 0;
  li{
    padding: 0 11px;
    position: relative;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      a{
        text-decoration: none;
      }
    }


    +li{
      &:before{
        content:'|';
        position: absolute;
        left:-1px;
        top: 0;
        bottom: 0;
        margin: auto;
        color: #737373;
        font-size: 16px;
      }
    }


    a{
      .flex();
      text-decoration: underline;
      color: #737373;
      font-size: 16px;

      &:hover, &:focus{
        text-decoration: none;
      }
      span{
        color: #737373;
        font-size: 16px;

        &.icon{
          margin-right: 4px;
          img{

          }
        }
      }
    }
  }
}


h1, .h1{
  color: #414141;
  font-size: 28px;
  margin-bottom: 30px;
}

h2, .h2{
  color: #343434;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}



.page_content{

  .choose_tires_list{
    @media (min-width:1200px){
      .j-start();
    }
  }

  .choose_tires_list .choose_tires_block{
    &:first-child{
      @media (min-width:1200px){
        padding-left: 0;
      }
    }
  }

  .choose_tires_list .choose_tires_item .choose_tires_item_body{
    display: none;
    /*position: absolute;
    top: 100%;
    left: 0;*/
    width: 100%;
    z-index: 3;
    background: #ECECEC;
  }


  .choose_tires_list .choose_tires_item .choose_tires_item_head{
    .border-radius(10px);
    cursor: pointer;
    position: relative;
    z-index: 4;

    &:before{
      .b_a();
      left: 24px;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../img/close_red.png);
      width: 20px;
      height: 12px;
      background-size: cover;
      .transition(@transition_default);
      @media (max-width:767px){
        left: 6px;
      }
    }
  }


  .choose_tires_list .choose_tires_item{
    position: relative;

    &.act{
      z-index: 5;
      .border-radius(10px 10px 0 0);
      .choose_tires_item_head{
        .border-radius(10px 10px 0 0);
        &:before{
          .transform(rotate(180deg));
        }
      }

    }
  }


  @media (max-width:767px){
    .choose_tires_list .choose_tires_item .choose_tires_item_head{
      padding: 5px 5px 5px 30px;
    }
  }


  .choose_tires_list{
    margin-bottom: 50px;
    @media (max-width:1200px){
      margin-bottom: 40px;
    }
    @media (max-width:767px){
      margin-bottom: 20px;
    }
  }

}


.select{
  display: inline-block;
  position: relative;
  &:before{
    .b_a();
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/next.png);
    width: 10px;
    height: 6px;
    pointer-events: none;
  }
  select{
    width: 100%;
    border:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 27px;
    .border-radius(2px);
    background-color: rgb(248, 248, 248);
    .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
    padding-left: 10px;
    padding-right: 55px;
    font-size: 18px;
    @media (max-width:1200px){
      font-size: 16px;
    }

    option{
      padding-left: 10px;
      font-size: 18px;
      @media (max-width:1200px){
        font-size: 16px;
      }
    }
  }
}



.sort_block{
  .flex();
  .wrap();
  margin-bottom: 15px;
  > div{
    width: 50%;
    @media (max-width:991px){
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .col_right{
    @media (min-width:992px){
      .flex();
      .j-end();
    }
  }
  .col_left{
    .flex();
    .wrap();
    > div{
      color:#636363;
      font-size: 18px;
      &:first-child{
        margin-right: 38px;
      }
      strong{
        color: #2d2d2d;
        font-weight: bold;
      }
    }
  }
}



.pagination_block{
  .flex();
  .wrap();
  .ai-center();
  .j-beetween();
  margin-bottom: 70px;
  @media (max-width:1200px){
    margin-bottom: 50px;
  }
  @media (max-width:767px){
    margin-bottom: 30px;
  }
  > div{
    color: #2d2d2d;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
  }

  .pagination_list{
    .flex();


    li{
      a{
        display: inline-block;
        .border-radius(10px);
        background-color: rgb(83, 83, 83);
        .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
        width: 39px;
        height: 38px;
        position: relative;
        &:hover, &:focus{
          background: #C0C0C0;
        }
        &:before{
          .b_a();
          .m_a();
          width: 15px;
          height: 26px;
        }

        &.disabled{
          background: #C0C0C0;
        }

        &.prev{
          &:before{
            background: url(../img/left_page.png);
          }
        }
        &.next{
          margin-left: 20px;
          @media (max-width:575px){
            margin-left: 10px;
          }
          &:before{
            background: url(../img/right_page.png);
          }
        }
        }


      }
    }
  }




.page_desc{
  background: #EDEDED;
  padding: 70px 0;
  @media (max-width:1200px){
    padding: 50px 0;
  }
  @media (max-width:767px){
    padding: 30px 0;
  }
}



.contacts_page_row{
  .flex();
  .wrap();
  .j-beetween();

  .c_col_right{
    .flex();
    @media (min-width:768px){
      .j-end();
    }
    .contact_form_block{
      width: 100%;
      .border-radius(10px);
      background-color: rgb(235, 235, 235);
      .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
      padding: 35px 60px 45px;
      position: relative;
      @media (min-width:768px){
        max-width: 395px;
      }
      @media (max-width:1200px){
        padding: 35px 30px 45px;
      }
      @media (max-width:767px){
        padding: 15px;
      }
      img.car{
        position: absolute;
        top: -50px;
        right: 10px;
        @media (max-width:991px){
          display: none;
        }
      }


      .contact_form{
        .sub_title{
          color: #2f2f2f;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 1;
        }
        .f_title{
          font-size: 28px;
          color: @red;
          font-weight: bold;line-height: 1;
        }
        .btn_custom{
          width: 100%;
          margin-top: 10px;
        }
        .field{
          margin-bottom: 15px;
          label{
            color: #424242;
            font-size: 17px;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 0;
          }
          .form-control{
            .border-radius(3px);
            background-color: rgb(248, 248, 248);
            .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
            height: 26px;
            border:0;

            &::-webkit-input-placeholder{}
            &::-moz-placeholder{}
            &:-ms-input-placeholder{}
            &::-ms-input-placeholder{}
            &:-moz-placeholder{}
          }
          textarea.form-control{
            height: 140px;
          }


        }

      }

    }
  }

  .c_col_left{
    width: 100%;
    padding: 30px 60px 5px;
    .border-radius(10px);
    background-color: rgb(248, 248, 248);
    .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
    @media (min-width:768px){
      max-width: 610px;
    }
    @media (max-width:1200px){
      padding: 30px 30px 5px;
    }
    @media (max-width:767px){
      padding: 15px;
      margin-bottom: 20px;
    }
    .c_title{
      margin-bottom: 0;
      color: #414141;
      font-size: 16px;
      @media (max-width:767px){
        font-size: 14px;
      }
    }

    .attention{
      font-size: 20px;
      color: @red;
      font-weight: bold;
      @media (max-width:767px){
        font-size: 18px;
      }
    }
    .c_group{
      margin-bottom: 20px;
      ul{
        li{
          color: #414141;
          font-size: 22px;
          @media (max-width:767px){
            font-size: 18px;
          }
          a{
            color: #414141;
            font-size: 22px;
            @media (max-width:767px){
              font-size: 18px;
            }
            &.instagram{
              display: inline-block;
              position: relative;
              padding-left: 35px;
              &:before{
                .b_a();
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                background: url(../img/instagram_copy.png);
                width: 25px;
                height: 25px;
              }
            }
          }

        }
      }
    }
  }
}


.form-control{
  .border-radius(3px);
  background-color: rgb(248, 248, 248);
  .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
  height: 26px;
  border:0;

  &::-webkit-input-placeholder{}
  &::-moz-placeholder{}
  &:-ms-input-placeholder{}
  &::-ms-input-placeholder{}
  &:-moz-placeholder{}
}




.order_content{
  max-width: 1065px;

  h3, .h3{
    color: #4e5050;
    font-size: 18px;
    margin-bottom: 25px;
  }
}



.payment_methods{
  border-bottom:2px solid #D4D4D4;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.payment_methods_list{
  margin-right: -10px;
  margin-left: -10px;
  > div{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }

}

.type_radio{
  position: relative;
  width: 100%;
  input[type="radio"]{
    position: absolute;
    opacity: 0;
    &:checked{
      +label{
        border:2px solid #5F5F5F;
      }
    }
    +label{
        .border-radius(10px);
        background-color: rgb(249, 249, 249);
      border:2px solid rgb(249, 249, 249);
        .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
        position: relative;
        width: 160px;
        height: 160px;
      cursor: pointer;
        .flex();
      .ai-center();
      .j-center();

      @media (max-width:375px){
        width: 100%;
      }

      picture{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }

      .text{
        text-align: center;
        color: #343434;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;

      }

    }
  }
}



.delivery_block{
  padding-top: 30px;
  margin-bottom: 50px;

  .h2, h2{
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.delivery_form{
  &.b_bottom{
    border-bottom:2px solid #D4D4D4;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .form-control{
    .border-radius(2px);
    background-color: rgb(248, 248, 248);
    .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
    width: 100%;
    @media (min-width:576px){
      max-width: 278px;
    }

    &.address{
      height: 90px;
    }
    &.comment{
      height: 160px;
    }
  }
  .field_group1{
    max-width: 690px;
  }

  .field_group2{
    max-width: 1047px;
  }


  .field{
    margin-bottom: 18px;
  }
  .select{
    width: 100%;
    @media (min-width:576px){
      max-width: 278px;
    }
  }
  label{
    width: 100%;
    font-weight: bold;
    color: #424242;
    font-size: 17px;
    margin-bottom: 0;
  }

}


.products_in_order{
  h3,.h3{
    color: #414141;
    font-size: 28px;
    margin-bottom: 20px;
  }


  .products_list .product_item .product_flex .product_info .season picture{
    width: 27px;
    min-width: 27px;
    margin-right: 18px;
  }

  .products_list .product_item .product_flex .product_info .season .text:before {
    right: 8px;
    bottom: 3px;
    width: 4px;
    height: 7px;
    background-size: cover;
  }
  .products_list .product_item .product_flex .product_info .season .text{
    font-size: 18px;padding: 5px 20px 5px 10px;
  }

  .products_list .product_item .product_flex .product_info .season {
    margin-right: 23px;
  }

  .products_list{
    .product_item{
      @media (min-width:1200px){
        padding: 20px 55px 10px 25px;
        height: 105px;
        overflow: hidden;
      }

      .product_flex .product_info{
        .d_flex{
            .flex();
          .ai-center();
           .size{
              font-size: 18px;
             margin-bottom: 0;
          }
        }
        .pr_title{
          font-size: 26px;
          margin-bottom: 3px;
        }
      }
      .product_flex .col_left .product_img{
        @media (max-width:575px){
          margin-bottom: 10px;
        }
        img{
          max-width: 150px;
          @media (max-width:991px){
            max-width: 100px;
          }
        }
      }
    }
  }

  .products_list{
    margin-bottom: 22px;
    .product_item{
      position: relative;
      .cancel{
        position: absolute;
        right: 10px;
        top: 10px;
        background: url(../img/cancel.png);
        width: 17px;
        height: 17px;
        border:0;
        padding: 0;
      }
      .product_flex{

        .col_left{
          @media (min-width:1200px){
            width: calc(100% - 500px);
          }
          @media (max-width:991px){
            width: 100%;
            padding-right: 25px;
          }

        .product_img {
            margin-right: 20px;
          }

        }

        .col_right{
          padding-top: 8px;
          @media (min-width:1200px){
            width: 500px;
          }
          @media (max-width:991px){
            width: 100%;
          }
          .price_row{
            width: 100%;
            .flex();
            .wrap();
            .ai-center();
            > div{
              width: 33.33%;
              @media (max-width:575px){
                &.pr_col1{width: 50%;}
                &.pr_col2{width: 50%;}
                &.pr_col3{width: 100%;}
                margin-bottom: 10px;
              }
            }



            .pr_col2{
              padding-top: 5px;
              .price_flex{
                .price{
                  font-size: 20px;
                  margin-bottom: 0;
                  line-height: 1;
                  span{
                    font-size: 12px;
                    padding-top: 0;
                  }
                }
              }
            }

            .pr_col3{
              padding-top: 5px;
              .price_flex{
                .price{
                  font-size: 28px;
                  margin-bottom: 0;
                  span{
                    font-size: 14px;
                    padding-top: 0;
                  }
                }
              }
            }

            .amount{
              .flex();
              .ai-center();
              input{
                height: 28px;
                width: 28px;
                text-align: center;
                color: #414141;
                font-size: 22px;
                border:0;
                background: none;
                .flex();
                .ai-center();
                .j-center();
              }
              span{
                .border-radius(9px);
                background-color: rgb(220, 220, 220);
                width: 28px;
                min-width: 28px;
                height: 28px;
                color: #414141;
                font-size: 25px;
                .flex();
                .ai-center();
                .j-center();
                cursor: pointer;
              }
            }

          }
        }
      }

    }
  }

  .total{
    .flex();
    .j-end();
    @media (max-width:575px){
      .j-center();
    }
    > div{
      .flex();
      .j-center();
      .wrap();
      max-width: 250px;
    }
    .total_text{
      p{
        font-size: 14px;
        color: #535353;
        margin-bottom: 5px;    line-height: 1;
        font-weight: bold;
      }
      .price{
        font-size: 36px;
        color: #262626;
        .flex();
        font-weight: bold;    line-height: 1;
        margin-bottom: 20px;
        span{
          .flex();
          .ai-start();
          font-size: 22px;
          margin-right: 10px;
          padding-top: 2px;
        }
      }
    }
    .btn_custom{
      width: 100%;
      max-width: 250px;
      height: 50px;
      .flex();
      .ai-center();
      .j-center();
      font-size: 20px;
    }
  }

}




.pr_h1{
  font-size: 30px;
  text-align: center;
}


.product_content{
  .season{
    .flex();
    .ai-center();
    picture{
      width: 40px;
      min-width: 40px;
      margin-right: 20px;
    }
    .text{
      color: #464646;
      font-size: 24px;
      //font-weight: bold;
      text-transform: uppercase;
      .border-radius(6px);
      line-height: 1;
      background-color: rgb(229, 229, 229);
      padding: 5px 30px 5px 15px;
      position: relative;
      &:before{
        .b_a();
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/next1.png);
        width: 6px;
        height: 10px;
      }
    }
  }

  .pr_top_row{
    .flex();
    .j-center();
    .ai-center();

    margin-bottom: 50px;
    @media (max-width:1200px){
      margin-bottom: 30px;
      .wrap();
    }
    @media (max-width:575px){
      margin-bottom: 10px;
    }
    >div{
      margin:  0 25px;
      @media (max-width:575px){
       // width: 100%;
        margin: 0 10px 10px;
      }
    }
    .size{
      font-size: 22px;
      @media (max-width:575px){
        font-size: 18px;
      }
    }
    .in_stock{
      color: #696969;
      font-size: 22px;
      @media (max-width:575px){
        font-size: 18px;
      }
      span{
        color: #212121;
      }
    }
  }


  .product_row{
    margin-bottom: 55px;
    @media (max-width:1200px){
      margin-bottom: 30px;
    }
    .product_img_block{
      .border-radius(11px);
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2),inset 0 0 64.35px 0.65px rgba(175, 175, 175, 0.75);
      max-width: 541px;
      width: 100%;
      height: 541px;
      position: relative;
      @media (max-width:1200px){
        max-width: 100%;
        height: 400px;
        margin-bottom: 30px;
      }
      @media (max-width:991px){
        height: 350px;
      }
      @media (max-width:767px){
        height: 300px;
      }
      @media (max-width:575px){
        height: 250px;
      }
      .label{
        width: 40px;
        min-width: 40px;
        position: absolute;
        top: 27px;
        left: 25px;
        @media (max-width:991px){
          top: 15px;
          left: 15px;
        }
      }

      picture{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 30px;
        img{
          position: absolute;
          .m_a();
          max-width: 99%;
          max-height: 99%;
          @media (max-width:575px){
            max-width: 90%;
            max-height: 90%;
          }
        }
      }

    }

    .price_pay_block{
        .border-radius(9px);
        background-color: rgb(63, 63, 63);
        .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
        margin-bottom: 20px;
      &.b_grey{
          background-color: rgb(244, 244, 244);
          .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
        .pay_block{
          .payment_methods_list{
            .text{
              color: #343434;
            }
          }
        }

      }

      p{
        font-size: 15px;
        color: #b3b3b3;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .price_block{
        border-bottom: 2px solid #BDBBBB;
        padding: 10px 25px 5px;
        @media (max-width:767px){
          padding: 10px 15px 5px;
        }
        &.flex{
          .flex();
          .j-beetween();
          @media (max-width:575px){
            .wrap();
          }
        }
        .red{
          margin-right: 30px;
          @media (max-width:575px){
            margin-bottom: 5px;
          }
          .price, p{
            color: #e02a2a;
          }
        }
        .price{
          color: #fff;
          font-size: 36px;
          line-height: 1;
          .flex();
          font-weight: bold;

          &.red{
            color: #e02a2a;
          }
          &.dark{
            color: #474747;
          }

          span{
            .flex();
            .ai-start();
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }

      .pay_block{
        padding: 10px 25px 5px;
        @media (max-width:767px){
          padding: 10px 15px 5px;
        }
        p{

        }
        .payment_methods_list{
          margin-right: -20px;
          margin-left: -20px;
          > div{
            text-align: center;
            margin-bottom: 0;
            @media (max-width:1200px){
              margin-bottom: 10px;
            }
          }
          picture{
            display: inline-block;
            margin-bottom: 5px;
          }
          .text{
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            @media (min-width:1200px){
              white-space: nowrap;
            }
          }
        }
      }

    }

  }


  .btn_group{
    .flex();
    .wrap();
    padding-top: 18px;
    @media (max-width:1200px){
      padding-top: 0;
    }
    button{
        width: 100%;
        margin-bottom: 10px;
      font-size: 20px;
      height: 50px;
      .j-center();
      .flex();
      .ai-center();
    }

    .btn_custom.bg_white{
      background: none;
      .box-shadow(none);
      border:2px solid @red;
      color: @red;
      padding: 10px 46px;
      @media (max-width:480px){
        margin-right: 0;
      }
    }

    .btn_custom{
      @media (min-width:1200px){
        padding: 12px 70px;
      }
      background-image: -moz-linear-gradient( 90deg, rgb(222,37,38) 0%, rgb(249,88,87) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(222,37,38) 0%, rgb(249,88,87) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(222,37,38) 0%, rgb(249,88,87) 100%);

    }


  }


}



.product_tabs{
  z-index: 2;
  position: relative;
  .nav-tabs{
    border:0;
    .border-radius(10px);
    background-image: -moz-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);

    .nav-item{
      width: 33.33%;
      padding: 0 1px;
      margin-bottom: 0;
      @media (max-width:767px){
        width: 100%;
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      .nav-link{
        width: 100%;
          .border-radius(10px);
          .box-shadow(0 0 9.1px 0.9px rgba(0, 0, 0, 0.39));
          height: 44px;
        background-image: -moz-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(211,19,19) 0%, rgb(254,98,98) 100%);
        .flex();
        .ai-center();
        .j-center();
        border:0;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        &.active{
          text-decoration: underline;
        }
      }
    }
  }

}


.tab-content {
  .border-radius(0 0 10px 10px);
  background-color: rgb(255, 255, 255);
  .box-shadow(0 2px 7px 0 rgba(0, 0, 0, 0.2));
  margin-top: -10px;
  padding: 40px 35px 25px;
  @media (max-width:767px){
    padding: 30px 25px 15px;
  }
}



.modal{
  padding-right: 0 !important;
  .contact_form_block{
    width: 100%;
    .border-radius(10px);
    background-color: rgb(235, 235, 235);
    .box-shadow(0 4px 7px 0 rgba(0, 0, 0, 0.2));
    padding: 35px 60px 45px;
    position: relative;
    @media (min-width:768px){
      max-width: 395px;
    }
    @media (max-width:1200px){
      padding: 35px 30px 45px;
    }
    @media (max-width:767px){
      padding: 15px;
    }
    img.car{
      position: absolute;
      top: -50px;
      right: 10px;
      @media (max-width:991px){
        display: none;
      }
    }


    .contact_form{
      .sub_title{
        color: #2f2f2f;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1;
      }
      .f_title{
        font-size: 28px;
        color: @red;
        font-weight: bold;line-height: 1;
      }
      .btn_custom{
        width: 100%;
        margin-top: 10px;
      }
      .field{
        margin-bottom: 15px;
        label{
          color: #424242;
          font-size: 17px;
          font-weight: bold;
          line-height: 1;
          margin-bottom: 0;
        }
        .form-control{
          .border-radius(3px);
          background-color: rgb(248, 248, 248);
          .box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
          height: 26px;
          border:0;

          &::-webkit-input-placeholder{}
          &::-moz-placeholder{}
          &:-ms-input-placeholder{}
          &::-ms-input-placeholder{}
          &:-moz-placeholder{}
        }
        textarea.form-control{
          height: 140px;
        }


      }

    }

  }

  .close{
    background: url(../img/cancel2.png);
    width: 21px;
    height: 21px;
    padding: 0;
    border:0;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
    opacity: 1;
  }


  .modal-dialog{
    .border-radius(10px);
    border:0;
      @media (min-width:576px){
        max-width: 395px;
      }
  }

  .modal-body{
    padding: 0;
  }
  .modal-content{
    .border-radius(10px);
    border:0;
  }

}


.modal-open {
  padding-right: 0 !important;
}